.image {
  box-shadow: 10px 10px 10px black;
  width: 800px;
  height: auto;
}

.background{
  background: #335252;
  background: -moz-linear-gradient(left, #335252 0%, #598F8F 61%, #8ADEDE 100%);
  background: -webkit-linear-gradient(left, #335252 0%, #598F8F 61%, #8ADEDE 100%);
  background: linear-gradient(to right, #335252 0%, #598F8F 61%, #8ADEDE 100%);
  }


  .shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }

  .wpframe {
  background: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 8px;
  -webkit-box-shadow: 1px 2px 1px #d1d1d1;
  -moz-box-shadow: 1px 2px 1px #d1d1d1;
  box-shadow: 1px 2px 1px #d1d1d1;
  }
